.mybox{

    width: 100px;
    height: 100px;
    border: solid black;
    border-radius: 10px;
    color: #00ff00;
    background-color: rgb(255, 0, 0);
    color: hsl(0, 100, 150);
    text-align: center;
    
}

.box2{

width: 100px;
height: 100px;
border: solid black;
border-radius: 10px;
text-align: center;
color: #f0f;
background-color: rgb(255, 150, 50);

}

.box3{

width: 100px;
height: 100px;
border: solid black;
border-radius: 10px;
text-align: center;
color: rgb(100, 150, 200);
background-color: #f0f;

}

.box4{

width: 100px;
height: 100px;
border: solid black;
border-radius: 10px;
text-align: center;
color: yellow;
background-color: rgb(00, 100, 200);

}

.box5{

width: 100px;
height: 100px;
border: solid black;
border-radius: 10px;
text-align: center;
color: #000ff0;
background-color: rgba(255, 00, 00, 0.5 );

}

.container{

display: flex;
gap: 10px;

}

body{

    justify-items:center ;
    align-items: center;
    
}

.image{

background-image: url(./images/nature\ image.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 250px;
height: 250px;
text-align: center ;
color: white;
padding: 10px;
margin: 10px;
}

.card{

width: 350px;
height: 350px;
border: rgba(255, 0, 0, 0.5);
text-align: center;
background: linear-gradient(to right,orange,pink);
border-radius: 15px;
box-shadow: horizontal-offset vertical-offset blur spread color;
padding: 10px;
margin-top: 10px;

}

.card p{

    color: hsl(0, 100%, 50%);

}

.card h1{

  
    color: hsl(200, 80%, 40%);
}

.card button{


    background: radial-gradient(circle,red, yellow, green);
   float: right;
    
}